*{
    margin:0;
    padding: 0;
}
body{
    background-color: #777c80;
}

nav{
    display: flex;
    background-color: #F8EBD9;
    width: 100%;
    min-height: 45px;
    justify-content: space-between;
    align-items: center;
}
nav div a{
    padding: 10px;
    font-size: 20px;
    color: black;
    transition: .3s;
}
nav a:hover{
    background-color: black;
    color: white;
    transition: .5s;
}

header div{
    min-width: 150px;
    width: 30%;
    max-width: 300px;
    background-color: black;
    align-self: center;
    margin-left: 10%;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
}





header{
    background: rgb(176,203,70);
    background: radial-gradient(circle, rgba(176,203,70,1) 0%, rgba(107,124,43,1) 100%);
    height: 50px;
    display: flex;
}

.egesz{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.boxok{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    position: relative;
    margin-top: 100px;
}
.kajabox{
    display: flex;
    flex-direction: column;
    align-self: center;

    width: 200px;
    height: 200px;
    background-color: white;
    margin:auto;
    z-index: 1;
    border-radius:20px;
    
}

.szoveg{
    margin: 20px;
    
    text-align: center;
}
.keret{
    background-color:#F8EBD9 ;
    width: 350px;
    height: 350px;
    margin:5px;
    display: flex;
    flex-direction: column;
    border-radius: 20px ;
}
.fozes{
    display: flex;
    flex-direction: column;
    background-image: url(..//IMG/bajai-halaszle0_0.JPG);
    width: 300px;
    height: 300px;
    background-size: cover;
    margin: auto;
    border-radius: 20px;
    
}
.sutes{
    display: flex;
    flex-direction: column;
    background-image: url(..//IMG/rakott_krumpli_pulykakolbasszal.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    margin: auto;
    border-radius: 20px;
    
}
.sutik{
    display: flex;
    flex-direction: column;
    background-image: url(..//IMG/dobostorta.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position-x: -50px;
    margin: auto;
    border-radius: 20px;
    
}
footer{
    display: flex;
    justify-self: end;
    background: rgb(176,203,70);
    background: radial-gradient(circle, rgba(176,203,70,1) 0%, rgba(107,124,43,1) 100%);
    width: 100%;
    height: 200px;
    
    
}

@media (min-width:1100px) {
    footer{
        position: absolute;
        bottom: 0;
    }
}
.elerhetoseg{
    background-color: white;
    width: 40%;
    margin: 15px;
    border-radius:20px ;
    padding: 10px;
}
a{
    color: black;
    text-decoration: none;
}
.boxok a:hover{
    border: 3px solid orange;
    transition: 0.25;
}
button{
    min-width: 25px;
    min-height: 25px;
    background-color: transparent;
    border: none;
}

button hr{
    height: 2px;
    width: 35px;
    padding: 2px;
    margin: 5px;
    border-radius: 12px;
    background-color: black;
}

button:hover > hr{
    background-color: #7B7B7B;
}

button:active > hr{
    background-color: red;
}


@media screen and (max-width: 500px) {
    nav{
        display: block;
    }

    nav button{
        float: right;
    }
    
    nav .Menu{
        display: none;
    }

    .Menu-open, .Menu-open a{
        display: block;
    }
}

@media screen and (min-width: 501px) {
    nav button{
        display: none;
    }
}