nav{
    display: flex;
    background-color: #F8EBD9;
    width: 100%;
}

nav a{
    padding: 10px;
    font-size: 20px;
    color: black;
    transition: .3s;
}

nav a:hover{
    background-color: black;
    color: white;
}