*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    text-decoration: 0;
    
}

body{
    background-color: #6D6F66;
}
.soksuti{
    height: 25vw;
    width: 98.6vw;
}


header{
    background: rgb(176,203,70);
    background: radial-gradient(circle, rgba(176,203,70,1) 0%, rgba(107,124,43,1) 100%);
    height: 50px;
    display: flex;
}

nav{
    display: flex;
    background-color: #F8EBD9;
    width: 100%;
    min-height: 45px;
    justify-content: space-between;
    align-items: center;
}

nav div a{
    padding: 10px;
    font-size: 20px;
    color: black;
    transition: .3s;
}
nav a:hover{
    background-color: black;
    color: white;
    transition: .5s;
}

header div{
    min-width: 150px;
    width: 30%;
    max-width: 300px;
    background-color: black;
    align-self: center;
    margin-left: 10%;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
}

.break {
    flex-basis: 100%;
    height: 0;
}
a{
    color: black;
}


/*Flex*/
.teljes{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Jancsi{
    background-color: #F8EBD9;
    width: 250px;
    margin: 15px;
    min-height: 300px;
    border-radius: 15px;
}
.Jancsi:hover{
    border: 3px solid orange;
    transition: .25s;
}
.Jancsih1{
    text-align: center;
}
.Jancsik{
    width: 100%;
}
.Jancsip{
    text-align: justify;
    padding: 8px;
}


.Dobos{
    background-color: #F8EBD9;
    width: 250px;
    margin: 15px;
    min-height: 300px;
    border-radius: 15px;
}
.Dobos:hover{
    border: 3px solid orange;
    transition: .25s;
}
.Dobosh1{
    text-align: center;
}
.Dobosk{
    width: 100%;
}
.Dobosp{
    text-align: justify;
    padding: 8px;
}

.Somloi{
    background-color: #F8EBD9;
    width: 250px;
    margin: 15px;
    min-height: 300px;
    border-radius: 15px;
}
.Somloi:hover{
    border: 3px solid orange;
    transition: .25s;
}
.Somloi1{
    text-align: center;
}
.Somloik{
    width: 100%;
}
.Somloip{
    text-align: justify;
    padding: 8px;
}

.Rakoczi{
    background-color: #F8EBD9;
    width: 250px;
    margin: 15px;
    min-height: 300px;
    border-radius: 15px;
}
.Rakoczi:hover{
    border: 3px solid orange;
    transition: .25s;
}
.Rakoczi1{
    text-align: center;
}
.Rakoczik{
    width: 100%;
}
.Rakoczip{
    text-align: justify;
    padding: 8px;
}



.Eszterhazy{
    background-color: #F8EBD9;
    width: 250px;
    margin: 15px;
    min-height: 200px;
    border-radius: 5px;
}
.Eszterhazy:hover{
    border: 3px solid orange;
    transition: .25s;
}
.Eszterhazy1{
    text-align: center;
}

.Eszterhazyk{
    width: 100%; 
}
.Eszterhazyp{
    text-align: justify;
    padding: 8px;
}

button{
    min-width: 25px;
    min-height: 25px;
    background-color: transparent;
    border: none;
}

button hr{
    height: 2px;
    width: 35px;
    padding: 2px;
    margin: 5px;
    border-radius: 12px;
    background-color: black;
}

button:hover > hr{
    background-color: #7B7B7B;
}

button:active > hr{
    background-color: red;
}


@media screen and (max-width: 500px) {
    nav{
        display: block;
    }

    nav button{
        float: right;
    }
    
    nav .Menu{
        display: none;
    }

    .Menu-open, .Menu-open a{
        display: block;
    }
}

@media screen and (min-width: 501px) {
    nav button{
        display: none;
    }
}
