body{
    background-color: #6D6F66;
}
/*img{
    height: 20h;
    width: 25vw;
}*/
.soksuti{
    height: 30vw;
    width: 100vw;
}

/*nav,navbar*/
nav{
    background-color: #B0CB46;
    height: 50px;
    display: flex;
}



nav div{
    min-width: 150px;
    width: 30%;
    max-width: 300px;
    background-color: black;
    align-self: center;
    margin-left: 10%;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
}
.navbar{
    display: flex;
    background-color: #F8EBD9;
    width: 100%;
    
}
.navbar a{

    padding: 10px;
    font-size: 20px;
    color: black;
    transition: .3s;
}



.navbar a:hover{
    background-color: black;
    color: white;
}
.break {
    flex-basis: 100%;
    height: 0;
}

/*Flex*/
.teljes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    flex-wrap: wrap;
    
    
}

.Jancsi{
    background-color: #F8EBD9;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    
    
}
.Jancsik{
    width: 25vw;
}



.Dobos{
    background-color: #F8EBD9;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
}
.Somloi{
    background-color: #F8EBD9;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
}
.Somloik{
    width: 25vw;
}
.Rakoczi{
    background-color: #F8EBD9;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
}
.Rakoczik{
    width: 25vw;
}
.Eszterhazy{
    background-color: #F8EBD9;
    padding-left: 10px;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    
}
.Eszterhazyk{
    width: 25vw;
}
