body{
    background-color: #6D6F66;
}
nav{
    background-color: #B0CB46;
    height: 50px;
    display: flex;
}



nav div{
    min-width: 150px;
    width: 30%;
    max-width: 300px;
    background-color: black;
    align-self: center;
    margin-left: 10%;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
}
.navbar{
    display: flex;
    background-color: #F8EBD9;
    width: 100%;
}
.navbar a{

    padding: 10px;
    font-size: 20px;
    color: black;
    transition: .3s;
}



.navbar a:hover{
    background-color: black;
    color: white;
}
.Jancsi{}